Index:
  Background: Skip
  StandardLibrary: No
CompileFlags:
  CompilationDatabase: build
CompilationDatabase: build/
  Add:
    - "-I${workspaceFolder}/include"
    - "-I${workspaceFolder}/src"

